.form {
  height: 40px;
  font-size: 14px;
  display: flex;
}

.input {
  border-right: none;
  width: 100%;
  padding: 0 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid beige;
  background-color: transparent;
  margin-right: 12px;
  color: beige;
  box-shadow: none;
  border-radius: 0;
}

.button {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: none;
  color: beige;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.button:hover {
  scale: 1.1;
}
