.wrapper {
  display: flex;
  justify-content: space-between;
}

.section {
  display: grid;
  gap: 4px;
}

.title {
  margin: 0;
  font-size: 16px;
  color: beige;
}
.button {
  width: 100%;
  margin-right: 10px;
  color: beige;
  border: 1px solid rgba(206, 147, 216, 0.5);
  background-color: rgba(206, 147, 216, 0.12);
  cursor: pointer;
}

.button:hover {
  scale: 1.05;
}
